.hidden {
  display: none;
}

@font-face {
  font-family: "InfinitySans-RegularA1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    box-sizing: border-box;
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

@media (min-width: 600px) {
  #background-img {
    position: absolute;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  
  .app-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7em;
  }

  #login-form input[type="text"] {
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 8px;
    width: 12em;
    height: 1.5em;
    font-size: 2em;
    border: 0;
    background-color: white;
    opacity: 50%;
  }

  #login-form input::placeholder {
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
  }

  #login-form button {
    display: none;
    /* margin-top: 2em;
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    width: 8em;
    height: 2.2em;
    background-color: white;
    font-size: 1.3em;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  }

  #greeting {
    color: white;
    font-size: 3em;
    margin: 0;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  #todo-form input[type="text"] {
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 15em;
    height: 1.5em;
    font-size: 1.3em;
    border: 0;
    border-bottom: 5px solid white;
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    margin: 40px 0 10px 0;
  }

  #todo-form input::placeholder {
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
  }

  #todo-list {
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-weight: bold;
    list-style: square;
    padding: 0;
  }

  #todo-list li {
    padding: 0.2em;
  }

  #todo-list button {
    background-color: white;
    margin-left: 10px;
    border: 0;
    border-radius: 3px;
    width: 2.2em;
    height: 2em;
    font-weight: bold;
    text-align: center;
  }

  #clock {
    color: white;
    margin: 20px 0;
    font-size: 8em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  #quotes {
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 25px 80px;
    bottom: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #quotes span:first-child {
    text-align: center;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #quotes span:last-child {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }

  #weather {
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 5%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #weather img {
    height: 46px;
  }

  .weather_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 12px;
  }
}

/* mobile */
@media (max-width: 599px) {
  #background-img {
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  
  .app-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7em;
  }

  #login-form input[type="text"] {
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
    width: 11em;
    height: 1.5em;
    font-size: 1.5em;
    border: 0;
    background-color: white;
    opacity: 50%;
  }

  #login-form input::placeholder {
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
  }

  #login-form button {
    display: none;
    /* margin-top: 2em;
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    width: 8em;
    height: 2.2em;
    background-color: white;
    font-size: 1.3em;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  }

  #greeting {
    color: white;
    font-size: 2em;
    margin: 0;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  #todo-form input[type="text"] {
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 14em;
    height: 1.5em;
    font-size: 1.2em;
    border: 0;
    border-bottom: 5px solid white;
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    margin: 30px 0 10px 0;
  }

  #todo-form input::placeholder {
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
  }

  #todo-list {
    font-family: "InfinitySans-Bold", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-weight: bold;
    list-style: square;
    padding: 0;
  }

  #todo-list li {
    padding: 0.2em;
  }

  #todo-list button {
    background-color: white;
    margin-left: 10px;
    border: 0;
    border-radius: 3px;
    width: 2.2em;
    height: 2em;
    font-weight: bold;
    text-align: center;
  }

  #clock {
    color: white;
    margin: 20px 0;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  #quotes {
    color: white;
    text-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 20px 15px;
    bottom: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #quotes span:first-child {
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 14px;
  }

  #quotes span:last-child {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
  }

  #weather {
    color: white;
    font-size: 0.9em;
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #weather img {
    height: 30px;
  }

  .weather_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 12px;
  }
}